body .header {
  height: 65px;
  background: #0d1117;
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: calc(calc(100vw - 1100px) / 2);
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.4s border-bottom, 0.4s background cubic-bezier(0.97, -0.02, 0, 0.98);
}

body.as-home.expanded:not(.disable-blur) .header {
  background: rgba(0, 0, 26, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

body.as-home .header {
  background: linear-gradient(rgb(0, 0, 26), rgb(0, 0, 20));
}

@media screen and (max-width: 1330px) {
  body .header {
    padding-inline: 30px;
  }

  body .header:has(.menu.show),
  body .header:has(.header-compass.visible.show) {
    background: #0d1117;
    border-bottom: 1px solid transparent;
  }
}

body .header .menu {
  width: 25px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 1330px) {
  body .header .menu {
    display: none;
  }

  body .header .header-compass {
    display: none;
  }
}

body .header .menu div {
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  position: absolute;
  transition: 0.4s transform, 0.4s background;
}

body .header .menu.show div {
  background: #FFFFFF;
}

body .header .menu div:first-child {
  top: 0;
}

body .header .menu div:nth-child(2) {
  top: calc(50% - 2.5px);
}

body .header .menu div:nth-child(3) {
  top: calc(100% - 5px);
}

body .header .menu.show div:first-child,
body .header.tabs-expanded .menu div:first-child {
  transform: rotate(45deg) translateX(3px) translateY(7px);
}

body .header .menu.show div:nth-child(2),
body .header.tabs-expanded .menu div:nth-child(2) {
  transform: rotate(-45deg) translateX(-2px) translateY(-2px);
}

body .header .menu.show div:nth-child(3),
body .header.header.tabs-expanded .menu div:nth-child(3) {
  transform: scale(0);
}

body .header .header-compass {
  width: 25px;
  height: 25px;
  opacity: 0.7;
  cursor: pointer;
  position: relative;
  transition: 0.4s filter, 0.4s transform, 0.4s opacity;
}

body .header .header-compass:not(.visible) {
  transform: scale(0.8);
  opacity: 0;
  pointer-events: none;
}

body .header .header-compass.show {
  opacity: 1;
  transform: rotate(90deg);
}

body .header .header-compass svg {
  width: 25px;
  height: 25px;
  fill: #FFFFFF;
}

body .header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 24px;
  gap: 11px;
  transition: 0.4s transform, 0.4s opacity, 0.4s gap;
}

body .header .title .icon-container svg {
  vertical-align: middle;
  fill: #FFFFFF;
  height: 27px;
  width: 27px;
}

body .header .title:has(.project-name:empty) {
  gap: 0;
}

@media screen and (max-width: 1330px) {
  body .header .title {
    cursor: pointer;
  }

  body .header .description {
    position: absolute;
    left: 55px;
    right: min(55px, 4vw);
    top: 50%;
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.4s transform, 0.4s opacity;
    transition-timing-function: cubic-bezier(0.42, 0, 0, 0.97);
  }

  body .header:not(.tabs-expanded) .description {
    pointer-events: none;
  }

  body .header.tabs-expanded .description {
    opacity: 1;
    transform: translateY(-50%);
  }

  body .header.tabs-expanded .title {
    transform: translateY(50px);
    opacity: 0;
  }

  body .header.tabs-expanded .header-compass {
    transform: translateY(50px);
    opacity: 0;
  }
}

body .header .title .project-name {
  width: var(--width);
  font-weight: 600;
  transition: 0.4s width, 0.4s opacity, 0.4s transform;
}

body .header .title .project-name.updating {
  opacity: 0;
  transform: scale(0.9);
}

body .header .fake-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 1330px) {
  body .header .description {
    position: relative;
    border-radius: 10px;
    border: 1px solid transparent;
    overflow: hidden;
    transition: 0.4s border-color;
  }

  body .header .description.focused-tooltip {
    border-color: rgba(255, 255, 255, 0.1);
  }

  body .header .description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent 30%, #3b4553, transparent 83%);
    transition: 0.4s opacity;
    animation: 1s moveBg forwards;
  }

  body .header .description:not(.focused-tooltip)::before {
    opacity: 0 !important;
    animation-play-state: paused;
  }

  @keyframes moveBg {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }

    50% {
      opacity: 1;
      transform: 0;
    }

    to {
      opacity: 0;
      transform: translateX(50%);
    }
  }
}

body .header .description .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

body.as-home .header .description .tabs {
  background: transparent;
}

body .header .description .tabs .tab {
  position: relative;
  padding: 10px;
  padding-inline: 18px;
  cursor: pointer;
  text-align: center;
  font-size: 19px;
  color: #FFFFFF;
  transition: 0.4s transform, 0.4s color;
}

body .header .description .tabs .tab.active {
  pointer-events: none;
}

body .header .description .tabs .tab::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 20%;
  width: 60%;
  height: 2px;
  background: #FFFFFF;
  border-radius: 10px;
  transition: 0.4s transform, 0.4s opacity;
}

body .header .description .tabs .tab:not(.active)::after {
  transform: translateY(30px);
  opacity: 0;
}

body .header .description .tabs .tab:hover {
  transform: scale(0.95);
}

body .header .description .tabs .tab:active {
  transform: scale(0.9);
}