body .header {
  height: 60px;
  background: rgb(45, 45, 45, 0.3);
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation: 0.4s appearHeader;
}

@keyframes appearHeader {
  from {
    transform: translateY(-60px);
  }
}

body .header .menu {
  width: 25px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 1330px) {
  body .header .menu {
    display: none;
  }

  body .header .header-compass {
    display: none;
  }
}

body .header .menu div {
  width: 100%;
  height: 3px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  position: absolute;
  transition: 0.4s transform, 0.4s background;
}

body .header .menu.show div {
  background: #FFFFFF;
}

body .header .menu div:first-child {
  top: 0;
}

body .header .menu div:nth-child(2) {
  top: calc(50% - 2.5px);
}

body .header .menu div:nth-child(3) {
  top: calc(100% - 5px);
}

body .header .menu.show div:first-child {
  transform: rotate(45deg) translateX(4px) translateY(7px);
}

body .header .menu.show div:nth-child(2) {
  transform: rotate(-45deg) translateX(-1px) translateY(-2px);
}

body .header .menu.show div:nth-child(3) {
  transform: scale(0);
}

body .header .header-compass {
  width: 25px;
  height: 25px;
  filter: invert(0.7);
  cursor: pointer;
  position: relative;
  transition: 0.4s filter, 0.4s transform, 0.4s opacity;
}

body .header .header-compass:not(.visible) {
  transform: scale(0.8);
  opacity: 0;
}

body .header .header-compass.show {
  filter: invert(1);
  transform: rotate(90deg);
}

body .header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 24px;
  gap: 11px;
}

@media screen and (max-width: 1330px) {
  body .header .title {
    cursor: pointer;
  }

  body .header .description {
    display: none;
  }
}

body .tooltip .tooltip-text .tabs,
body .header .description .tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  background: #050505;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

body .tooltip .tooltip-text .tabs::before,
body .header .description .tabs::before {
  content: "";
  position: absolute;
  top: 0px;
  left: calc(50% * var(--id));
  width: 50%;
  height: 100%;
  background: #2d2d2d;
  transition: 0.4s left;
}

body .tooltip .tooltip-text .tabs .tab,
body .header .description .tabs .tab {
  position: relative;
  padding: 10px;
  padding-inline: 18px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.4s transform, 0.4s color;
}

body .tooltip .tooltip-text .tabs .tab.active,
body .header .description .tabs .tab.active {
  color: #FFFFFF;
  pointer-events: none;
}

body .tooltip .tooltip-text .tabs .tab:after,
body .header .description .tabs .tab:after {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #FFFFFF;
  transition: 0.4s bottom;
}

body .tooltip .tooltip-text .tabs .tab.active:after,
body .header .description .tabs .tab.active:after {
  bottom: 0;
}


body .tooltip .tooltip-text .tabs .tab:hover,
body .header .description .tabs .tab:hover {
  transform: scale(0.95);
}

body .tooltip .tooltip-text .tabs .tab:active,
body .header .description .tabs .tab:active {
  transform: scale(0.9);
}