body .page-container .home-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020202;
  overflow-y: auto;
  overflow-x: hidden;
}

body.as-home .page-container .home-container.disappear {
  animation: 0.4s disappearBg forwards;
}

@keyframes disappearBg {
  to {
    background: transparent;
  }
}

body:not(.as-home) .page-container .home-container {
  background: transparent;
  pointer-events: none;
}

@supports (overflow-y: overlay) {
  body .page-container .home-container {
    overflow-y: overlay;
  }
}

body .page-container .home-container .introduction {
  height: calc(100vh - 66px);
  width: 100%;
  position: relative;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(0, 0, 25), rgb(0, 0, 62), rgb(0, 0, 25));
}

body .page-container .home-container .introduction .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body .page-container .home-container .introduction .background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: luminosity;
  background: linear-gradient(#000117 0%, transparent, #000117 100%);
}

body .page-container .home-container .introduction .background div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: url(/src/assets/hero-background.webp) no-repeat center;
  background-size: 140% 184%;
  background-position: 50% 71%;
  mix-blend-mode: plus-lighter;
}

body .page-container .home-container .introduction .background canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  body .page-container .home-container .introduction {
    height: 300px;
  }
}

body .page-container .home-container.disappear .introduction {
  animation: 0.4s disappearIntroduction forwards cubic-bezier(1, 0.05, 0, 1);
}

@keyframes disappearIntroduction {
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

body .page-container .home-container .text-container {
  z-index: 1;
}

body .page-container .home-container .text-container .bigtitle {
  font-size: 51px;
  line-height: 60px;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

body .page-container .home-container .text-container .button {
  background: white;
  padding: 12px;
  width: fit-content;
  margin-inline: auto;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 40px;
  transition: 0.4s transform, 0.4s gap;
}

body .page-container .home-container .text-container .button:hover {
  transform: scale(0.95);
  gap: 10px;
}

body .page-container .home-container .text-container .button:active {
  transform: scale(0.9);
}

body .page-container .home-container .text-container .button .button-icon {
  width: 15px;
  height: 15px;
  position: relative;
}

body .page-container .home-container .text-container .button .button-icon div:first-child,
body .page-container .home-container .text-container .button .button-icon div:nth-child(2) {
  position: absolute;
  right: 4px;
  height: 7px;
  width: 2px;
  background: #000000;
  border-radius: 10px;
}

body .page-container .home-container .text-container .button .button-icon div:first-child {
  top: 1.5px;
  transform: rotate(-36deg);
}

body .page-container .home-container .text-container .button .button-icon div:nth-child(2) {
  bottom: 1.5px;
  transform: rotate(36deg);
}

body .page-container .home-container .text-container .button .button-icon div:nth-child(3) {
  position: absolute;
  top: 51%;
  right: 4px;
  transform: translateY(-50%);
  width: 13px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
  transition: 0.4s width;
}

body .page-container .home-container .text-container .button:not(:hover) .button-icon div:nth-child(3) {
  width: 0px;
}

body .page-container .home-container .text-container .vsc-mockup {
  height: 300px;
  background: #100f32;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

body .page-container .home-container .text-container .vsc-mockup .vsc-top-bar {
  width: 100%;
  height: 37px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 30px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-top-bar div {
  width: 10px;
  height: 10px;
  background: #28283d;
  border-radius: 50%;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-left-icons {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60px;
  gap: 20px;
  padding-top: 20px;
  position: relative;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-left-icons::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 44px;
  width: 3px;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-left-icons img {
  height: 27px;
  width: 27px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-left-icons img:not(.active) {
  opacity: 0.54;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .fake-file-name {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  font-size: 16px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list {
  width: 100%;
  height: 35px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file {
  height: 100%;
  width: fit-content;
  padding-inline: 12px;
  background: #28283d;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  gap: 14px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file:not(.disappear) {
  animation: 0.4s appearFile;
}

@keyframes appearFile {
  from {
    transform: translateY(100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    transform: translateY(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file.disappear {
  animation: 0.4s disappearFile forwards;
}

@keyframes disappearFile {
  from {
    transform: translateY(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  to {
    transform: translateY(100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file .file-close {
  width: 12px;
  filter: invert(1);
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high {
  flex: 1;
  height: 100%;
  width: 100%;
  background: #28283d;
  border-bottom-left-radius: 10px;
  max-height: 210px; /* fallback value */
  overflow-x: hidden;
  overflow-y: auto;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

@supports (overflow: overlay) {
  body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high {
    overflow-y: overlay;
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .lines-list {
  padding-inline: 15px;
  text-align: center;
  line-height: 19px;
  opacity: 0.5;
  padding-top: 4px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .lines-list div {
  height: 19px;
  overflow: hidden;
  font-size: 12px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .lines-list:not(.disappear) div {
  opacity: 0;
  animation: 0.1s updateLinesListOpacityWithPositiveState forwards calc(var(--id) * 0.03s);
}

@keyframes updateLinesListOpacityWithPositiveState {
  to {
    opacity: 1;
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .lines-list.disappear div {
  animation: 0.1s updateLinesListOpacity forwards calc(var(--id) * 0.03s);
}

@keyframes updateLinesListOpacity {
  to {
    opacity: 0;
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .syntax-highlight:not(.disappear) span {
  opacity: 0;
  animation: 0.1s updateLinesListOpacityWithPositiveState forwards calc(var(--id) * 0.03s);
}

@keyframes updateLinesListOpacityWithPositiveState {
  to {
    opacity: 1;
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .syntax-highlight.disappear {
  animation: 0.4s disappearSH forwards;
}

@keyframes disappearSH {
  to {
    opacity: 0;
  }
}

body .page-container .home-container .pres-points {
  background: #0a101b;
  padding: 60px;
  padding-bottom: 120px; /*tmp*/
  display: flex;
  align-items: center;
  justify-content: center;
}

body .page-container .home-container .pres-points .int-pres-points {
  max-width: 1100px;
  min-width: 1000px; /*tmp*/
}

body .page-container .home-container .pres-points .int-pres-points .small-badge {
  color: #FFFFFF;
  padding: 3px;
  padding-inline: 11px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: fit-content;
  font-size: 13px;
  border-radius: 22px;
  margin-bottom: 20px;
}

body .page-container .home-container .pres-points .int-pres-points .big-text {
  color: #FFFFFF;
  font-size: 47px;
  line-height: 49px;
  font-weight: 600;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element {
  margin-top: 30px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row {
  display: grid;
  grid-template-rows: 1fr;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row.first {
  grid-template-columns: 1.2fr 1fr;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row.second {
  grid-template-columns: 1fr 1.2fr;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container {
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.dark {
  background: radial-gradient(ellipse at left top, #0b175b, #05000f 80%);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light {
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg,
body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div {
  position: absolute;
  width: 100%;
  height: 100%;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div {
  z-index: 1;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg {
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #3635f1, #956aca);
  display: flex;
  justify-content: center;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div:first-child {
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #252ef8 20%, transparent, #956aca 80%)
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div:nth-child(2) {
  top: 0;
  right: 0;
  background: radial-gradient(#4db3a7 20%, transparent, transparent);
  transform: scale(2) translateX(25%) translateY(-25%);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div:nth-child(3) {
  bottom: 0;
  left: 0;
  background: radial-gradient(#6b2aeb 20%, transparent, transparent);
  transform:  scale(2) translateX(-25%) translateY(25%);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg .pattern {
  filter: invert(1);
  mix-blend-mode: soft-light;
  height: 100%;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .icon-container {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .icon-container img {
  filter: invert(1);
  height: 55px;
  padding: 5px;
  margin: 3px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .icon-container img.secondary {
  width: 38px;
  opacity: 0.6;
  margin-left: 25px;
  height: auto;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .icon-container img {
  border: 5px solid #000000;
  border-radius: 50%;
  opacity: 0.8;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.dark .icon-container img:not(.secondary) {
  background: #FFFFFF;
  border-radius: 50%;
  padding: 10px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .icon-container .back-shadow {
  position: absolute;
  aspect-ratio: 1;
  height: 100%;
  background: linear-gradient(180deg, #936bc9, #3735f1);
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px rgba(89, 148, 255, 0.6);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .text {
  color: #FFFFFF;
  font-size: 38px;
  font-weight: 600;
  margin-top: 20px;
  flex: 1;
  display: flex;
  line-height: 45px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .text.short {
  font-size: 100px;
  line-height: 90px;
  font-weight: 400;
  align-items: flex-end;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .small-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .icon-container,
body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .text,
body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .small-text {
  z-index: 2;
}