body .page-container .home-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020202;
  overflow-y: auto;
  overflow-x: hidden;
}

body.as-home .page-container .home-container.disappear {
  animation: 0.2s disappearElement forwards;
}

@keyframes disappearElement {
  to {
    opacity: 0;
  }
}

body:not(.as-home) .page-container .home-container {
  background: transparent;
  pointer-events: none;
}

@supports (overflow-y: overlay) {
  body .page-container .home-container {
    overflow-y: overlay;
  }
}

body .page-container .home-container .mgc-button {
  background: white;
  padding: 12px;
  width: fit-content;
  margin-inline: auto;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 40px;
  transition: 0.2s transform, 0.2s gap;
}

body .page-container .home-container .mgc-button:hover {
  transform: scale(0.95);
  gap: 10px;
}

body .page-container .home-container .mgc-button:active {
  transform: scale(0.9);
}

body .page-container .home-container .mgc-button .button-icon {
  width: 15px;
  height: 15px;
  position: relative;
}

body .page-container .home-container .mgc-button .button-icon div:first-child,
body .page-container .home-container .mgc-button .button-icon div:nth-child(2) {
  position: absolute;
  right: 4px;
  height: 7px;
  width: 2px;
  background: #000000;
  border-radius: 10px;
}

body .page-container .home-container .mgc-button .button-icon div:first-child {
  top: 1.5px;
  transform: rotate(-36deg);
}

body .page-container .home-container .mgc-button .button-icon div:nth-child(2) {
  bottom: 1.5px;
  transform: rotate(36deg);
}

body .page-container .home-container .mgc-button .button-icon div:nth-child(3) {
  position: absolute;
  top: 51%;
  right: 4px;
  transform: translateY(-50%);
  width: 13px;
  height: 2px;
  background: #000000;
  border-radius: 10px;
  transition: 0.2s width;
}

body .page-container .home-container .mgc-button:not(:hover) .button-icon div:nth-child(3) {
  width: 0;
}

body .page-container .home-container .introduction {
  height: calc(100vh - 66px);
  width: 100%;
  position: relative;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(0, 0, 25), rgb(0, 0, 62), rgb(0, 0, 25));
}

body .page-container .home-container .introduction .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body .page-container .home-container .introduction .background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000117 0%, transparent, #000117 100%);
}

body .page-container .home-container .introduction .background div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1279px) {
  body .page-container .home-container .introduction .background .background-image {
    background: url(/src/assets/hero-background.jpg) no-repeat 50% 75%;
    background-size: 140%;
  }
}

@media screen and (min-width: 1280px) {
  body .page-container .home-container .introduction .background .background-image {
    background: url(/src/assets/hero-background-lg.webp) no-repeat 50% 75%;
    background-size: 140%;
  }
}

body .page-container .home-container .introduction .background .background-image {
  opacity: 0.6;
  mix-blend-mode: plus-lighter;
}

body .page-container .home-container .introduction .background .background-surface {
  background: url("/src/assets/TextureBackground.svg");
  background-size: min(12vh, 25%);
  opacity: 0.1;
}

@media screen and (max-width: 800px) {
  body .page-container .home-container .introduction {
    height: 100vh;
  }
}

body .page-container .home-container .text-container {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

body .page-container .home-container .text-container .bigtitle {
  font-size: min(min(5.5vw, 5.5vh), 48px);
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
  height: 37%;
  align-items: end;
  display: flex;
}

body .page-container .home-container .text-container .vsc-mockup {
  background: #100f32;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  bottom: 0;
  transform: translateY(2px);
  position: absolute;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 90%;
  max-width: 1000px;
  height: 50%;
  pointer-events: none;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 550px) {
  body .page-container .home-container .text-container .vsc-mockup {
    transform: scale(calc(300 / var(--wd)));
    transform-origin: bottom center;
    width: calc(100% + calc(1 - 300 / var(--wd)) * 100%);
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-top-bar {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 30px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-top-bar div {
  width: 10px;
  height: 10px;
  background: #28283d;
  border-radius: 50%;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container {
  flex: 1;
  width: 100%;
  display: flex;
  height: calc(100% - 35px);
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-left-icons {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50px;
  gap: 20px;
  padding-top: 20px;
  position: relative;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-left-icons::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  height: 44px;
  width: 2px;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-left-icons .icon-container svg {
  height: 27px;
  width: 27px;
  fill: #FFFFFF;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-left-icons .icon-container:not(.active) {
  opacity: 0.1;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .fake-file-name {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  font-size: 16px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code {
  display: flex;
  flex-direction: column;
  width: calc(100% - 50px);
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list {
  width: 100%;
  height: 35px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file {
  height: 100%;
  width: fit-content;
  padding-inline: 12px;
  background: rgba(255, 255, 255, 0.06);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file:not(.disappear) {
  animation: 0.2s appearFile;
}

@keyframes appearFile {
  from {
    transform: translateY(100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  to {
    transform: translateY(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file.disappear {
  animation: 0.2s disappearFile forwards;
}

@keyframes disappearFile {
  from {
    transform: translateY(0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  to {
    transform: translateY(100%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file .file-language {
  margin-right: 6px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file .file-language svg {
  height: 21px;
  width: 21px;
  vertical-align: middle;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-files-list .file .file-close {
  width: 12px;
  filter: invert(1);
  margin-left: 15px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high {
  flex: 1;
  width: 100%;
  background: rgba(255, 255, 255, 0.06);
  overflow-x: hidden;
  overflow-y: auto;
  color: #FFFFFF;
  display: flex;
  font-family: 'Fira Code', serif;
}

@supports (overflow: overlay) {
  body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high {
    overflow-y: overlay;
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .lines-list {
  padding-inline: 15px;
  text-align: center;
  line-height: 19px;
  opacity: 0.5;
  padding-top: 4px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .lines-list div {
  height: 19px;
  overflow: hidden;
  font-size: 12px;
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .lines-list:not(.disappear) div {
  opacity: 0;
  animation: 0.1s updateLinesListOpacityWithPositiveState forwards calc(var(--id) * 0.03s);
}

@keyframes updateLinesListOpacityWithPositiveState {
  to {
    opacity: 1;
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .lines-list.disappear div {
  animation: 0.1s updateLinesListOpacity forwards calc(var(--id) * 0.03s);
}

@keyframes updateLinesListOpacity {
  to {
    opacity: 0;
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .syntax-highlight:not(.disappear) span {
  opacity: 0;
  animation: 0.1s updateLinesListOpacityWithPositiveState forwards calc(var(--id) * 0.03s);
}

@keyframes updateLinesListOpacityWithPositiveState {
  to {
    opacity: 1;
  }
}

body .page-container .home-container .text-container .vsc-mockup .vsc-bottom-container .vsc-right-code .vsc-code-high .syntax-highlight.disappear {
  animation: 0.2s disappearSH forwards;
}

@keyframes disappearSH {
  to {
    opacity: 0;
  }
}

body .page-container .home-container .pres-points {
  background: #0d1117;
  padding: 120px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  body .page-container .home-container .pres-points {
    padding: 40px 20px;
  }
}

body .page-container .home-container .pres-points.has-margin {
  margin-top: 20px;
}

body .page-container .home-container .pres-points .background-effects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body .page-container .home-container .pres-points .background-effects .bottom-noche {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}

body .page-container .home-container .pres-points .background-effects .right-noche {
  transform: rotate(270deg) translateY(50%);
  position: absolute;
  right: 0;
  bottom: 20%;
  width: 50%;
}

body .page-container .home-container .pres-points .int-pres-points {
  max-width: 1100px;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  body .page-container .home-container .pres-points .int-pres-points {
    max-width: 95%;
    min-width: 95%;
  }
}

body .page-container .home-container .pres-points .int-pres-points .small-badge {
  color: rgba(255, 255, 255, 0.8);
  padding: 4px;
  padding-inline: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: fit-content;
  font-size: 14px;
  border-radius: 22px;
  margin-bottom: 20px;
}

body .page-container .home-container .pres-points .int-pres-points .big-text {
  color: #FFFFFF;
  font-size: min(60px, 7vw);
  font-weight: 600;
  margin-bottom: 80px;
}

@media screen and (max-width: 1000px) {
  body .page-container .home-container .pres-points .int-pres-points .big-text {
    margin-bottom: 10px;
  }
}

body .page-container .home-container .pres-points .int-pres-points .grid-element {
  margin-top: 30px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row {
  display: grid;
  grid-template-rows: 1fr;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row.first {
  grid-template-columns: 1.2fr 1fr;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row.second {
  grid-template-columns: 1fr 1.2fr;
}

@media screen and (max-width: 1000px) {
  body .page-container .home-container .pres-points .int-pres-points .grid-element .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container {
    width: 100%;
    box-sizing: border-box;
  }
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row.numeric {
  grid-template-columns: 1fr 1fr 1fr;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container {
  margin: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  padding: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.numeric {
  background: #020306;
  box-shadow: none;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.dark {
  background: radial-gradient(ellipse at left top, #0b175b, #05000f 60%);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light {
  position: relative;
  overflow: hidden;
  padding-bottom: 70px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg,
body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div {
  position: absolute;
  width: 100%;
  height: 100%;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div {
  z-index: 1;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg {
  top: 0;
  left: 0;
  background: #502af5;
  display: flex;
  justify-content: center;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div:first-child {
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #252ef8 20%, transparent, #8e5bce 80%)
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div:nth-child(2) {
  top: 0;
  right: 0;
  background: radial-gradient(#4db3a7 20%, transparent, transparent);
  transform: scale(2) translateX(35%) translateY(-20%);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg div:nth-child(3) {
  bottom: 0;
  left: 0;
  background: radial-gradient(#6a29ea 20%, transparent, transparent);
  transform: scale(2) translateX(-20%) translateY(20%);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-bg .pattern {
  filter: invert(1);
  mix-blend-mode: soft-light;
  height: 100%;
}

@media screen and (max-width: 1000px) {
  body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container {
    padding: 30px;
  }

  body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light {
    padding-bottom: 30px;
  }
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .pseudo-icons {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 50px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .pseudo-icons .icon-container {
  margin: 3px;
  padding: 5px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .pseudo-icons .icon-container svg {
  height: 52px;
  width: 52px;
  fill: #FFFFFF;
  vertical-align: middle;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .pseudo-icons .icon-container.secondary {
  width: 38px;
  opacity: 0.7;
  margin-left: 25px;
  height: auto;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .pseudo-icons .icon-container {
  border: 5px solid #FFFFFF;
  border-radius: 50%;
  opacity: 0.8;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.dark .pseudo-icons .icon-container:not(.secondary) {
  background: #000000;
  border-radius: 50%;
  padding: 10px;
  z-index: 0;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .pseudo-icons .back-shadow {
  position: absolute;
  aspect-ratio: 1;
  height: 100%;
  background: linear-gradient(45deg, #8750fd 20%, #3735f1 40%, #2ec594 90%);
  border-radius: 50%;
  box-shadow: 0 0 15px 0 rgba(89, 148, 255, 0.6);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .text {
  color: #FFFFFF;
  font-size: min(6vw, 40px);
  line-height: min(7vw, 50px);
  font-weight: 500;
  flex: 1;
  display: flex;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.numeric .text:not(.short) {
  font-size: min(6vw, 23px);
  line-height: inherit;
  font-weight: 400;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.6);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .text.short {
  font-size: min(14.5vw, 96px);
  font-weight: 500;
  align-items: flex-end;
  line-height: min(14.5vw, 91px);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.numeric .text.short {
  font-size: min(9.5vw, 52px);
  font-weight: 600;
  line-height: initial;
  flex: 0;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container .small-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: min(4.5vw, 24px);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.numeric .small-text {
  font-size: 16px;
  margin-top: 30px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .icon-container,
body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .text,
body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.light .small-text {
  z-index: 2;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.citation {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  padding: 80px;
  gap: 25px;
  box-shadow: none;
}

@media screen and (max-width: 1000px) {
  body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.citation {
    padding: 30px;
  }
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.citation .citation-icon svg {
  width: 115px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.citation .citation-text {
  color: #FFFFFF;
  font-size: min(6vw, 38px);
  /* TODO: test line-height */
  font-weight: 500;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.citation .owner-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.citation .owner-row .owner-image {
  border-radius: 50%;
  height: 55px;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.citation .owner-row .owner-details {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.citation .owner-row .owner-details .owner-title {
  color: #FFFFFF;
  font-size: min(4vw, 21px);
}

body .page-container .home-container .pres-points .int-pres-points .grid-element .row .container.citation .owner-row .owner-details .owner-description {
  color: rgba(255, 255, 255, 0.6);
  font-size: min(2.6vw, 17px);
}

body .page-container .home-container .team-members {
  margin-top: 20px;
  background: url("/src/assets/NocheInsightsBackground.svg") #0d1117;
  padding: min(80px, 6vw) 0;
}

body .page-container .home-container .team-members .int-team-members {
  max-width: 1000px;
  text-align: center;
  color: #FFFFFF;
  margin-inline: auto;
}

body .page-container .home-container .team-members .int-team-members .big-text {
  font-size: min(60px, 7vw);
  font-weight: 600;
  margin-bottom: 20px;
}

body .page-container .home-container .team-members .int-team-members .description {
  font-size: min(24px, 3.5vw);
  color: rgba(255, 255, 255, 0.3);
}

body .page-container .home-container .team-members .carousel-container {
  margin-top: 40px;
  background-size: 0.75%;
  padding-top: 50px;
}

@media screen and (max-width: 550px) {
  body .page-container .home-container .team-members .carousel-container {
    margin-top: 0;
    transform: scale(calc(var(--wd) / 600));
  }
}

body .page-container .home-container .team-members .carousel-container .carousel {
  display: flex;
  gap: 40px;
  width: calc(490px * var(--items));
}

body .page-container .home-container .team-members .carousel-container .carousel:not(.reverse) {
  animation: 40s moveCarousel infinite linear;
}

@keyframes moveCarousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-1 * 490px * var(--items-translate)));
  }
}

body .page-container .home-container .team-members .carousel-container .carousel.reverse {
  animation: 40s moveCarouselRev infinite linear;
}

@keyframes moveCarouselRev {
  from {
    transform: translateX(calc(-1 * 490px * var(--items-translate)));
  }

  to {
    transform: translateX(0);
  }
}

body .page-container .home-container .team-members .carousel-container:has(.member:hover) .carousel {
  animation-play-state: paused;
}

@media screen and (min-width: 3800px) {
  body .page-container .home-container .team-members .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  body .page-container .home-container .team-members .carousel-container .carousel {
    animation: none !important;
    width: calc(490px * var(--items-translate));
  }

  body .page-container .home-container .team-members .carousel-container .carousel .clone {
    display: none;
  }
}

body .page-container .home-container .team-members .carousel-container .carousel:first-child {
  margin-bottom: 40px;
}

body .page-container .home-container .team-members .carousel-container .carousel .member {
  width: 450px;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.2s opacity;
  background: rgb(20, 25, 33);
}

body .page-container .home-container .team-members .carousel-container:has(.member:hover) .member:not(:hover) {
  opacity: 0.3;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .member-top-container {
  display: flex;
  align-items: center;
  padding-inline: 30px;
  height: 105px;
  gap: 20px;
  color: #FFFFFF;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .member-top-container img {
  width: 60px;
  border-radius: 50%;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .member-top-container .member-details .member-name {
  font-size: 22px;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .member-top-container .member-details .member-role {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .member-top-container .member-details .member-role .member-role-part {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding-inline: 11px;
  font-size: 12px;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .buttons {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


body .page-container .home-container .team-members .carousel-container .carousel .member .buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  font-size: 18px;
  gap: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  transition: 0.2s color;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .buttons a .icon-container {
  opacity: 0.4;
  transition: 0.2s opacity;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .buttons a .icon-container svg {
  vertical-align: middle;
  fill: #FFFFFF;
  width: 25px;
  height: 25px;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .buttons a:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

body .page-container .home-container .team-members .carousel-container .carousel .member .buttons a:hover {
  color: rgb(255, 255, 255);
}

body .page-container .home-container .team-members .carousel-container .carousel .member .buttons a:hover .icon-container {
  opacity: 1;
}

body .page-container .home-container .team-members .carousel-container .carousel .member .buttons:hover a:not(:hover) {
  color: rgba(255, 255, 255, 0.3);
}

body .page-container .home-container .team-members .carousel-container .carousel .member .buttons:hover a:not(:hover) .icon-container {
  opacity: 0.3;
}

body .page-container .home-container .footer {
  padding-block: 80px;
  padding-inline: 20px;
  background: #0d1117;
  margin-top: 20px;
}

body .page-container .home-container .footer .big-text {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #FFFFFF;
}

body .page-container .home-container .footer .links-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block: 30px;
}

@media screen and (max-width: 1300px) and (min-width: 850px) {
  body .page-container .home-container .footer .links-container {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: 5%;
  }

  body .page-container .home-container .footer .links-container .ded-section {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 850px) {
  body .page-container .home-container .footer .links-container {
    padding: 0 0 30px;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
}

body .page-container .home-container .footer .links-container .ded-section {
  color: #FFFFFF;
  max-width: 350px;
}

@media screen and (max-width: 1300px) {
  body .page-container .home-container .footer .links-container .ded-section {
    width: 100%;
    max-width: none;
  }
}

body .page-container .home-container .footer .links-container .ded-section .title {
  font-size: 30px;
  font-weight: 600;
  white-space: nowrap;
}

body .page-container .home-container .footer .links-container .ded-section .description {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
}

body .page-container .home-container .footer .links-container .ded-section .mini-description {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  margin-block: 10px;
}

body .page-container .home-container .footer .links-container .ded-section .mgc-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  text-decoration: none;
  color: #FFFFFF;
  box-sizing: border-box;
  background: #161a20;
  border: 1px solid rgba(93, 106, 129, 0.2);
}

body .page-container .home-container .footer .links-container .ded-section .mgc-button .button-icon div {
  background: #FFFFFF;
}

body .page-container .home-container .footer .links-container .category-container {
  display: flex;
  flex-direction: column;
}

body .page-container .home-container .footer .links-container .category-container .category-title {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}

body .page-container .home-container .footer .links-container .category-container a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 18px;
  padding-right: 15px;
  width: fit-content;
}

body .page-container .home-container .footer>.description {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}