body .splash {
  --zlm: 1.0;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  transform: scale(var(--zlm));
}

body .splash:not(.faster) {
  animation: 0.2s hideSplash 1.3s forwards;
}

@media screen and (max-width: 500px) {
  body .splash {
    --zlm: 0.7;
  }
}

@keyframes hideSplash {
  to {
    opacity: 0;
  }
}

body .splash .animated-icon {
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateX(var(--pos-x)) translateY(var(--pos-y));
  animation: 0.5s appearAnimatedIcon, 0.6s moveToCenter 0.3s forwards cubic-bezier(1, -0.02, 0, 1.02);
}

@media screen and (max-width: 650px) {
  body .splash .animated-icon {
    --pos-x: var(--pos-xm) !important;
    --pos-y: var(--pos-ym) !important;
  }
}

@keyframes appearAnimatedIcon {
  from {
    transform: translateX(-50%) translateY(-50%) translateX(var(--pos-x)) translateY(var(--pos-y)) scale(0.7);
    opacity: 0;
  }
}

@keyframes moveToCenter {
  to {
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
  }
}

body .splash .animated-icon img {
  height: 60px;
  width: 60px;
}

body .splash .audio-shader {
  display: flex;
  align-items: center;
  justify-content: center;
}

body .splash .audio-shader .shader {
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  opacity: 0;
}

body .splash .audio-shader .shader:first-child {
  margin-right: 50px;
  animation: 0.4s appearShader 0.6s forwards, 0.4s moveToCenterShaderFirst 1s forwards;
}

body .splash .audio-shader .shader:nth-child(2) {
  animation: 0.4s appearShader 0.6s forwards, 0.4s disappearShader 1s forwards;
}

body .splash .audio-shader .shader:nth-child(3) {
  margin-left: 50px;
  animation: 0.4s appearShader 0.6s forwards, 0.4s moveToCenterShaderLatest 1s forwards;
}

@keyframes moveToCenterShaderFirst {
  to {
    margin-right: -91px;
    opacity: 0;
  }
}

@keyframes disappearShader {
  to {
    transform: scale(0.4);
    opacity: 0;
  }
}

@keyframes moveToCenterShaderLatest {
  to {
    margin-left: -99px;
    opacity: 0;
  }
}

@keyframes appearShader {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes clickCall {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.0);
  }
}

body .splash .audio-shader .shader[data-id="video"] {
  background: #0f2d5a;
}

body .splash .audio-shader .shader[data-id="microphone"] {
  background: linear-gradient(45deg,
      #377df6, #469df7);
  box-shadow: 0 0 100px rgba(55, 125, 246, 0.6);
}

body .splash .audio-shader .shader[data-id="microphone"] img {
  height: 115px;
  width: 115px;
  animation: 0.35s clickCall 0.65s forwards;
}

body .splash .audio-shader .shader[data-id="quit"] {
  background: #451611;
}

body .splash .audio-shader .shader[data-id="quit"] img {
  filter: invert(1);
}

body .splash .audio-shader .shader:not([data-id="microphone"]) {
  height: 60px;
  width: 60px;
}

body .splash .audio-shader .shader:not([data-id="microphone"]) img {
  width: 34px;
  height: 34px;
  opacity: 0;
  animation: 0.4s appearImage 0.6s forwards;
}

@keyframes appearImage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body .splash .audio-shader .shader .description {
  position: absolute;
  bottom: -30px;
  color: white;
  opacity: 0;
  animation: 0.4s appearDescription 0.6s forwards;
}

@keyframes appearDescription {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}


body .splash.faster>svg {
  animation: 0.9s rotateSvg linear infinite;
}

body .splash.faster>svg circle {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-dasharray: 10, 10;
  animation: 1.5s animateStroke linear infinite;
}