body .tooltip {
    position: fixed;
    top: calc(var(--center-y) + 49px);
    left: var(--center-x);
    background: #161A20;
    max-width: min(272px, 80vw);
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(93, 106, 129, 0.2);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);
    opacity: 0;
    z-index: 4;
    transform-origin: 50% 0;
}

body .tooltip.more-space {
    max-width: min(350px, 80vw);
}

body .tooltip.visible {
    opacity: 1;
    animation: 0.2s appearTooltip cubic-bezier(0.42, 0, 0, 0.98);
}

body .tooltip.remove {
    animation: 0.2s removeTooltip cubic-bezier(0.42, 0, 0, 0.98) forwards;
}

@keyframes appearTooltip {
    from {
        opacity: 0;
        transform: scale(0.2);
    }
}

@keyframes removeTooltip {
    to {
        opacity: 0;
        transform: scale(0.2);
    }
}

body .tooltip.visible.out-of-space {
    transform-origin: var(--origin-x) 0;
}

@media screen and (max-width: 999px) {
    body .tooltip.adapt-mobile {
        background: #080a0e;
        top: 60px;
        left: 0;
        width: 100vw;
        max-width: none;
        height: calc(100vh - 60px);
        border: none;
        box-shadow: none;
        border-radius: 0;
    }

    body .tooltip.adapt-mobile.visible {
        animation: 0.2s appearTooltipMobile forwards cubic-bezier(0.97, -0.02, 0, 0.98);
    }

    @keyframes appearTooltipMobile {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    body .tooltip.adapt-mobile.remove {
        animation: 0.2s disappearTooltipMobile forwards cubic-bezier(0.97, -0.02, 0, 0.98);
    }

    @keyframes disappearTooltipMobile {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    }
}

body .tooltip .title-element {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 7px;
}

body .tooltip .text-element {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    body .tooltip .title-element {
        font-size: 20px;
    }

    body .tooltip .text-element {
        font-size: 14px;
    }
}

body .tooltip.has-tabs {
    width: auto;
    padding: 8px;
    background: black;
}

body .tooltip > .icon-container {
    position: absolute;
    left: 50%;
    top: -16px;
    transform: translateX(-50%);
}

@media screen and (max-width: 999px) {
    body .tooltip.adapt-mobile > .icon-container {
        display: none;
    }
}

body .tooltip.out-of-space > .icon-container {
    left: calc(var(--origin-x) - 30px);
    transform: none;
}

body .tooltip > .icon-container svg {
    height: 20px;
}

body .tooltip .selector {
    padding: 10px;
}

body .tooltip .selector .main-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
}

@media screen and (max-width: 999px) {
    body .tooltip.adapt-mobile .selector .main-title {
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
    }
}

body .tooltip .selector .mini-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
}

body .tooltip .selector .mini-text:not(.align-left) {
    text-align: center;
}

body .tooltip .selector .mini-text.has-margin {
    margin-top: 15px;
}

body .tooltip .selector .library {
    background: #0e1117;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    transition: 0.2s transform;
}

body .tooltip .selector .library:hover {
    transform: scale(0.99);
}

body .tooltip .selector .library:active {
    transform: scale(0.95);
}

body .tooltip .selector .library:not(:last-child) {
    margin-bottom: 5px;
}

body .tooltip .selector .library .title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body .tooltip .selector .library .title-row .switch {
    width: 40px;
    height: 24px;
    background: rgb(81, 81, 84);
    border-radius: 30px;
    outline: 1px solid rgba(255, 255, 255, 0.05);
    position: relative;
    transition: 0.2s background;
    overflow: hidden;
    padding: 2px;
}

body .tooltip .selector .library .title-row .switch.selected {
    background: #0076fe;
}

body .tooltip .selector .library .title-row .switch::after {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    transition: 0.2s left;
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.06)) drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.15)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.04));
}

body .tooltip .selector .library .title-row .switch.selected::after {
    left: calc(100% - 22px - 2px);
}

body .tooltip .selector .library .title {
    font-size: 15px;
    color: #FFFFFF;
    transition: 0.2s opacity;
}

body .tooltip .selector .library .description {
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    transition: 0.2s opacity;
}

body .tooltip .selector .library.has-switch .description {
    padding-right: 43px;
}

body .tooltip .selector .library.selected {
    pointer-events: none;
}

body .tooltip .selector .library.selected .title,
body .tooltip .selector .library.selected .description {
    opacity: 0.4;
}

body .tooltip .selector .library .icon-container.success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    opacity: 0;
    transition: 0.2s opacity;
}

body .tooltip .selector .library.selected .icon-container.success {
    animation: 0.5s showSuccessIcon 0.2s forwards;
}

@keyframes showSuccessIcon {
    from {
        opacity: 1;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
        opacity: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

body .tooltip .selector .library .icon-container.success svg {
    fill: #FFFFFF;
}

body .tooltip .selector .font-size-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
    padding-inline: 15px;
    margin-bottom: 5px;
    border: 2px dashed #0e1117;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: calc(16px + var(--font-size, 0));
    transition: 0.2s font-size;
}

@media screen and (min-width: 1000px) {
    body .tooltip .selector .font-size-preview {
        display: none;
    }
}

body .tooltip .selector .font-size {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #0e1117;
    margin-bottom: 5px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 300;
    overflow: hidden;
    position: relative;
}

@property --percent {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

body .tooltip .selector .font-size .font-size-standard {
    --percent: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: conic-gradient(rgba(93, 106, 129, 0.2) var(--percent), transparent 0%);
    transition: 0.2s opacity;
}

body .tooltip .selector .font-size:not(.is-standard) .font-size-standard {
    pointer-events: none;
}

body .tooltip .selector .font-size.is-standard .font-size-standard {
    opacity: 1;
    animation: 0.9s fontSizeBiggerPercent forwards cubic-bezier(1, -0.12, 0.03, 1.12);
}

@keyframes fontSizeBiggerPercent {
    to {
        --percent: 100%;
    }
}

body .tooltip .selector .font-size .font-size-standard::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 7px;
    background: #0e1117;
}

body .tooltip .selector .font-size .font-size-standard span {
    color: #FFFFFF;
    z-index: 1;
    transform: scale(1);
    transition: 0.2s scale;
}

body .tooltip .selector .font-size:not(.is-standard) .font-size-standard span {
    transform: scale(0.7);
}

body .tooltip .selector .font-size .font-size-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 7px;
    cursor: pointer;
    transition: 0.2s background, 0.2s opacity;
}

body .tooltip .selector .font-size.is-standard .font-size-item {
    opacity: 0;
    pointer-events: none;
}

body .tooltip .selector .font-size .font-size-item:not(.disabled):hover {
    background: rgba(255, 255, 255, 0.01);
}

body .tooltip .selector .font-size .font-size-item:not(.disabled):active {
    background: rgba(255, 255, 255, 0.08);
}

body .tooltip .selector .font-size .font-size-item.disabled {
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
}

body .tooltip .selector .font-size .font-size-item.smaller {
    font-size: 14px;
}

body .tooltip .selector .font-size .font-size-item.bigger {
    font-size: 20px;
}

body .tooltip .selector .font-size .font-size-item:first-child {
    border-right: 1px solid rgba(93, 106, 129, 0.2);
}